[Desktop Entry]
Name=Digitize-DVD
Comment=Automatically digitize a DVD inserted in the drive
Keywords=video;movie;film;dvd;disc;rip;
Exec=/home/klfjoat/src/media-archive/digitize-dvd
Icon=ogmrip
Terminal=true
Type=Application
Categories=GNOME;AudioVideo;
MimeType=x-content/video-dvd;

