[Desktop Entry]
Name=Digitize-CD
Comment=Automatically digitize a CD inserted in the drive
Keywords=audio;album;tape;cd;disc;rip;
Exec=/home/klfjoat/bin/digitize-cd
Icon=ogmrip
Terminal=true
Type=Application
Categories=GNOME;AudioVideo;
MimeType=x-content/audio-cdda;
#Add to ~/.local/share/applications/mimeapps.list:
#x-content/audio-cdda=digitize-cd.desktop
